*{
    font-size: 18px;
    font-family: "Alice";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: "Alice";
    src: url("../fonts/Alice-Regular.ttf");
}

.container{
    width: 100%;
    max-width: 1280px;
    padding: 0 2%;
}

.clear{
    clear: both;
}

.selectFalse{
    user-select: none;
}

.selectMenu{
    color: #910ECF!important;
}

div.line{
    width: 100%;
    height: 1px;
    background-color: #737373;
}