header{
    width: 100%;
    height: 128px;
    padding: 1% 0;
    background-color: #271B30;
}

header div.logo-container{
    float: left;
    width: 30%;
    max-width: 300px;
    height: 100px;
    background-color: #ccc;
}

header nav.menu-desktop{
    float: left;
    width: 50%;
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: end;
}

header nav.menu-desktop > a{
    padding: 0 4%;
    text-decoration: none;
    color: #ADADAD;
    transition: 0.4s;
}

header nav.menu-desktop > a:hover{
    color: white;
}

header div.profile-icon{
    float: right;
    width: 10%;
    max-width: 150px;
    height: 100px;
    text-align: center;
    /* background-color: aqua; */
}

header div.profile-icon p i{
    padding-top: 20px;
    font-size: 60px;
    color: #ADADAD;
    cursor: pointer;
    transition: 0.4S;
}

header div.profile-icon p i:hover{
    color: white;
}